/*modo padrão*/
body{
    background-color: #FFFFFF!important;
    color: #000000!important;
}

.bg-color{background-color: #F7F7F7!important;}

a.bg-color:hover, a.bg-color:focus,
button.bg-color:hover,
button.bg-color:focus {
  background-color: #dae0e5 !important;
}

.bg-color-inverse{background-color: #616161!important;}

a.bg-color-inverse:hover, a.bg-color-inverse:focus,
button.bg-color-inverse:hover,
button.bg-color-inverse:focus {
  background-color: #424344 !important;
}

.dropdown-item-custom-styles:hover {background: #87C4C4!important;}
.dropdown-item-custom-styles:active {background: #405DEF!important;}
.dropdown-item-custom-styles:focus {background: #5973F7!important;}

.text-color{color: #262626!important;}
.text-color-inverse{color: #E8E8E8!important;}

.form-control::placeholder {
    color: #6c757d;
}

/*ESTILOS PARA TODOS OS MODOS DE COR*/
.bg-color-none{
  background-color: transparent;
}

/*POSICOES*/
.centered { /*mx-auto d-block são as mesmas*/
    margin: 0 auto;
}

.right{
  overflow: hidden;
}

.right .toRight{
    float: right;
}

/*PADDING MARGIN*/
.padding{
    padding: 10px;
}

.margin{
    margin: 10px;
}

.margin-height{ /*antes era margin*/
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-height-sm{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*GENERAL STYLES*/
.radius50px{ /*antes era radius*/
    border-radius: 50px!important;
}

.radius-top50px{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.radius-bottom50px{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.radius30px{
    border-radius: 30px;
}

.radius5px{
    border-radius: 5px;
}

.radius50pcent{
    border-radius: 50%;
}

/*ITENS ESPECIFICOS*/
.button-large{ /*antes era loginButton*/
    position: relative;
    margin: 25px;
    margin-top: 10px;
    padding: 25px;
}

.tab-pane-inner{
    width:95%;
    text-align: justify;
}

.carousel_immage_height img{
    max-height: 500px;
    height: 50vw;
}